* {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel Decorative', cursive;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
body{
    place-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
}
.user{
    position: absolute;
    left: 1000px;
    width: 40px;
    height: 40px;
    border-radius: 50px 50px 50px 50px;
}
.sub-menu-wrap{
    position: absolute;
    top: 100%;
    left: 750px;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    position: relative;
    left: -150px;
    width: 100%;
    font-family: "Segoe MDL2 Assets";

}
.sub-menu-link img{
    position: relative;
    left: -140px;
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 22px;
    transition: transform .5s;
}
.sub-menu-link:hover span{
transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}

.comment-text{
    font-size: 18px;
    font-family: "Segoe Fluent Icons";
}
.fs-12{
    font-size: 18px;
}
.fs-12 span{
    font-family: sans-serif;
}

.shadow-none{
    box-shadow: none;
}
.text-right{
    font-family: sans-serif;
}

.name{
}
.cursor:hover{
    color: purple;
}
.cursor{
    cursor: pointer;
}
.textarea{
    resize: none;
}
.date{
    font-size: 11px;
}
.container{
    position: absolute;
    top:1150px;
    left: 220px;
}
.staffdiv{
    position: absolute;
    top:850px;
    left: -100px;
    width: 1000px;
    height: 400px;
}

.title {
    position: absolute;
    top:300px;
    left: 590px;
font-size: xxx-large;
    color:white;
    text-shadow: 0px 0px 8px  white;
z-index: 3;
}
.b img{
    position: absolute;
    width: 100%;
    height: 630px;
    z-index: -4;
}
.sp img{
    width: 70px;
    height: 70px;
    z-index: 1;
}
.s1 img{
    position: absolute;
    top:200px;
    right:150px;
}
.s2 img{
    position: absolute;
    top:340px;
    right:250px;
}
.s3 img{
    position: absolute;
    top:480px;
    right:150px;
}
.s4 img{
    position: absolute;
    top:200px;
    left: 150px;

}

.s6 img{
    position: absolute;
    top:480px;
    left: 150px;

}
.s7 img{
    position: absolute;
    top:200px;
    left: 750px;

}
.s8 img{
    position: absolute;
    top:340px;
    left: 600px;
}
.s9 img{
    position: absolute;
    top:480px;
    left: 750px;

}
.s10 img{
    position: absolute;
    top:200px;
    left: 450px;

}
.s11 img{
    position: absolute;
    top:340px;
    left: 300px;

}
.s12 img{
    position: absolute;
    top:480px;
    left: 450px;

}
.s13 img{
    position: absolute;
    top:200px;
    left: 1050px;

}
.s14 img{
    position: absolute;
    top:340px;
    left: 900px;
}
.s5 img {
    position: absolute;
    top:480px;
    left: 1050px;

}
.staff {
    position: absolute;
    top: 120px;
    left: 670px;
    font-size: xxx-large;
    color: black;
    text-shadow: 0px 5px 5px  black;

}
.image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: plum;
}
.image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
}
.card{
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    width: 280px;
}
.card::before{
    position: absolute;
    content: "";
    height: 40%;
    width: 100%;
    background:#bd77bd;
    border-radius: 20px 20px 0 0;
}
.card-content{
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 100;
}
.media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.media-icons i{
    margin: 10px;
    color: #fff;
    opacity: .6;
    transition: all .3s ease;
    cursor: pointer;
}
.media-icons i:hover{
    opacity: 1;
}
.name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;

}
.name{
    font-size: 20px;
    font-weight: 600;
}
.profession{
    font-size: 15px;
    font-weight: 500;
}
.rating{
    display: flex;
    align-items: center;
    margin-top: 18px;

}
.rating i{
   color: #bd77bd;
    font-size: 18px;
    margin: 0 2px;
}
.button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.button button{
    background: #bd77bd;
    outline: none;
    border: none;
    color: white;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition:all .3s ease;
    cursor: pointer;
}
.button button:hover{
    color: plum;
}
.swiper{
    position: relative;
    left: 300px;
    display: flex;
    top: 0px;
}
.se{
    position: relative;
    left: 0px;
    top: 200px;
    width: 100%;
    height: 100%;
    align-items: center;
}
div.swiper-button-next{
    position: absolute;
    left: 1380px;
    top: 200px;
}
div.swiper-button-prev{
    position: absolute;
    left: 200px;
    top: 200px;
}

.slider{
    position: absolute;
    top:650px;
    left: 50px;
    height: 170px;
    margin: auto;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    z-index: 2;
}
.slide_track{
    display: flex;
    width: calc(250px*9);
animation: scroll 15s linear infinite;
}
.slide_track:hover{
    animation-play-state: paused;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*5));

    }
}
.slide{
    height: 170px;
    width: 250px;
    display: flex;
    align-items: center;
    padding:15px;
    perspective: 100px;
}
.slide img{
    height: 200px;
    width: 170px;
}
.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotatez(180deg);
}
 img:hover{
    transform: translateZ(20px);
}
 .wrapper{
     margin: 10px auto;
     padding: 0px 10%;
     padding-bottom: 10px;
     text-transform: capitalize;
 }
 .best{
     position: relative;
     top: 250px;
     left: 300px;
     color: black;
     font-size: 45px;
     padding-bottom: 15px;
     text-align: center;
     text-shadow: 0 15px 10px rgb(0,0,0,.2);
 }
 .co{
     position: relative;
     top: 280px;
     left: 300px;
     display: grid;
     gap: 15px;
     grid-template-columns: repeat(auto-fit,minmax(255px,1fr));
 }
 .box{
     height: 300px;
     padding: 20px;
     text-align: center;
     border-radius: 5px;
     background: plum;
     box-shadow: 0px 5px 10px rgba(0,0,0,.2);

 }
 .box img{
     height: 70px;
 }
 .box h3{
     color: black;
     font-family:"Segoe MDL2 Assets";
     padding: 10px 0px;
     font-size: 20px;
 }
 .box p{
     color: black;
     font-size: 14px;
     line-height: 1.6;
     font-family: sans-serif;
 }
.bt{
    color: #fff;
    border:none;
    outline: none;
    font-size: 17px;
    margin-top: 10px;
    padding: 8px 15px;
    background:#333;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
}
.bt:hover{
    color: white;
    letter-spacing: 1px;
}
.box:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 15px rgba(0,0,0,.3);

}
@media (max-width: 770px) {
    .wrapper{
        padding: 20px;
    }
    
}

:root {
    --pink:#800020;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 2rem 26% ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
}
header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    position: absolute;
    left: 10px;
}
header .logo span {
    color:var(--pink);
}
header .navbar a {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
    position: relative;
    left: 110px;
}
header .navbar a:hover {
    color:var(--pink);
}

header #toggler{
    display: none;
}
header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border:0.1rem solid rgba(0,0,0,.3);
    display: none;
}

@media  (max-width: 1000px) {
    html {
        font-size: 55%;
    }
    header {
        padding: 2rem;
    }
    footer{
        width: 30%;
        font-size: 40%;
    }
    .footer-content{
        width: 30%;
        font-size: 40%;
    }
d-flex{
        width: 30%;
    }
.bg-light{
    width: 30%;
}
    .logo{
        position: absolute;
        top: 35px;
        left: 20px;
        display: none;
    }
    .sp{
        width: 20%;
        height: 20%;
    }
    .b{
        width: 20%;
        height: 20%;
    }
}
@media  (max-width: 768px) {

    header .fa-bars{
        display: block;
    }
    header .navbar{
        position: absolute;
        top:100%;left:0;right:0;
        background: #eee;
        border-top: 0.1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0,100% 0,100% 100%,0% 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: 0.1rem solid rgba(0,0,0,.1);
        display:block;
    }

}

@media  (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .co{
        display: grid;
        left: 110px;
        grid-template-columns: auto;
        width: 40%;
    }
    .mt-5{
        position: absolute;
        top: 1800px;
        left: 100px;
    }
    .swiper{
        left: 130px;
    }
    .swiper-button-prev{
        position: relative;
        left: -50px;
    }
    .swiper-button-next{
        position: relative;
        left: 0px;
    }

}

footer{
    position: relative;
    top: 600px;
    left: 100px;
    background: white;
    width: 1500px;
    height: 15vw;
    font-family: sans-serif;
    padding-top: 40px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    font-size: 14px;
    margin: 10px auto;
    line-height: 28px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: white;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
color: plum;
}
.footer-bottom{
    position: relative;
    left: 0px;
    background: #bd77bd;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{

    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .6;
    font-weight: 200;
}